/* ==========================================================================
* Index
* $Normilitzr
* $Grids
========================================================================== */
/* ==========================================================================
   HTML5 Boilerplate - $Normilitzr
========================================================================== */

html,
button,
input,
select,
textarea {
  /*background: #02050c;*/
  /*color: #f9f9f9;*/
  color: #222222;
  font-family: 'Noto Sans';
  font-size: 100%;
  font-weight: 400;
}
* {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
}
body {
  background: #02050c url(../img/bg-ahri.png) center -5px no-repeat;
  color: #f9f9f9;
  font-family: 'Noto Sans';
  font-size: 100%;
  font-weight: 400;  
  line-height: 1.6875;
}

a, a:visited, a:focus {
  color: #d8b006;
  text-decoration: none;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input, select, textarea {
  background: #212d40;
  border: 1px solid #02050c;
  border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: inset hoff voff blur color;
  -moz-box-shadow: inset hoff voff blur color;
  box-shadow: inset hoff voff blur color;
  color: #d8b006;
  outline: none;
  padding: 3px 5px !important;
  transition: all 0.25s linear !important;
  -o-transition: all 0.25s linear !important;
  -ms-transition: all 0.25s linear !important;
  -moz-transition: all 0.25s linear !important;
  -webkit-transition: all 0.25s linear !important;
}

input:focus, select:focus, textarea:focus {
  box-shadow: 0px 0px 10px 1px #d8b006;
  -o-box-shadow: 0px 0px 10px 1px #d8b006;
  -ms-box-shadow: 0px 0px 10px 1px #d8b006;
  -moz-box-shadow: 0px 0px 10px 1px #d8b006;
  -webkit-box-shadow: 0px 0px 10px 1px #d8b006;
}

::-webkit-input-placeholder {color: #d8b006;}
:-moz-placeholder {color: #d8b006;}
::-moz-placeholder {color: #d8b006;}
:-ms-input-placeholder {color: #d8b006;}

input:focus, select:focus, textarea:focus {
}

textarea {
  resize: vertical;
}
.chromeframe {
  background: #cccccc;
  color: black;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

/*must be erased*/
video {border: 1px solid #999;}
dl, dd, dt {margin: 0; padding: 0;}
dt {background-color: #eee;}

/* ==========================================================================
/* $Sticky Footer
/* cssstickyfooter.com
-------------------------------------------------------------- */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/*Opera Fix*/

body:before {
  content: "";
  height: 100%;
  float: left;
  margin-top: -32767px;
  width: 0;
}
.wrapper {
  min-height: 100%;
}
div[role="main"] {
   specific/* styler to footer wrapper here */
  overflow: auto;
  padding-bottom: 150px;
}
/* padding-bottom must be same height as the footer */

footer {
  clear: both;
  height: 150px;
  margin-top: -150px;
  /* negative value of footer height */
  position: relative;
}

footer > .wrapper {/* specific styler to footer wrapper here */}
/* ==========================================================================
/* $Grids 
/* =Gridiculous
-------------------------------------------------------------- */

.grid,
.wrapper {
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
}

.wfull {
  width: 100%;
  max-width: 100%;
}
.w320 {
  max-width: 320px;
}
.w640 {
  max-width: 640px;
}
.w960 {
  max-width: 960px;
}
.row {
  width: 100%;
  margin-bottom: 20px;
}
.row .row {
  width: auto;
  margin: 0 -20px;
}
.c1 {
  width: 8.33%;
}
.c2 {
  width: 16.66%;
}
.c3 {
  width: 25%;
}
.c4 {
  width: 33.33%;
}
.c4-5 {
  width: 39.5%;
}
.c5 {
  width: 41.66%;
}
.c6 {
  width: 50%;
}
.c7 {
  width: 58.33%;
}
.c8 {
  width: 66.66%;
}
.c9 {
  width: 75%;
}
.c10 {
  width: 83.33%;
}
.c11 {
  width: 91.66%;
}
.c12 {
  width: 100%;
}
.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9,
.c10,
.c11,
.c12 {
  float: left;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.s1 {
  margin-left: 8.33%;
}
.s2 {
  margin-left: 16.66%;
}
.s3 {
  margin-left: 25%;
}
.s4 {
  margin-left: 33.33%;
}
.s5 {
  margin-left: 41.66%;
}
.s6 {
  margin-left: 50%;
}
.s7 {
  margin-left: 58.33%;
}
.s8 {
  margin-left: 66.66%;
}
.s9 {
  margin-left: 75%;
}
.s10 {
  margin-left: 83.33%;
}
.s11 {
  margin-left: 91.66%;
}
.end {
  float: right !important;
}
/* ==========================================================================
   $Author:     Júlio Gori Corradi
   $create at:  30/04/2013
========================================================================== */

/* =============================================
   $Geral
============================================= */
.btn {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #faca1e), color-stop(1, #bd9907) );
  background:-moz-linear-gradient( center top, #faca1e 5%, #bd9907 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#faca1e', endColorstr='#bd9907');
  background-color:#faca1e;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  border:1px solid #bf9a07;
  border-radius:4px;
  -o-border-radius:4px;
  -ms-border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  color:#f9f9f9;
  cursor: pointer;
  display:inline-block;
  font-family: 'Noto Sans';
  font-weight: 700;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #544507;
}
.btn:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bd9907), color-stop(1, #faca1e) );
  background:-moz-linear-gradient( center top, #bd9907 5%, #faca1e 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd9907', endColorstr='#faca1e');
  background-color:#bd9907;
}
.btn:active {
  position:relative;
  top:1px;
}

/* =============================================
   $pre-header
============================================= */
.pre-headerTop, .pre-header {
  background: #295ea0;
}
.pre-headerTop {height: 10px;}

.pre-header-wrap {position: relative;}

.pre-header * {
  transition: none;
  -o-transition: none;
  -ms-transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.pre-header {
  border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  margin-top: -5px;
  padding: 0 15px;
  position: absolute;
  z-index: 999;
}

.pre-header a {
  color: #f9f9f9;
  text-decoration: none;
}

.pre-header a.login {
  display: block;
  font-size: 90%;
  text-align: right;
}

.pre-header a i {
  margin-left: 7px;
  transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
}
.pre-header a:hover i {background-position: 2px center;}

/* =============================================
   $header
============================================= */
#top {
  background: url(../img/bg-menu.png) center top no-repeat;
  box-shadow: 0px 0px 10px 5px #000;
  -o-box-shadow: 0px 0px 10px 5px #000;
  -ms-box-shadow: 0px 0px 10px 5px #000;
  -moz-box-shadow: 0px 0px 10px 5px #000;
  -webkit-box-shadow: 0px 0px 10px 5px #000;
  height: 70px;
  margin-top: 160px;
  position: relative;
}

.principal {
  line-height: 70px;
  margin: 0;
  padding:0;
  text-align: center;
}

.principal li {display: inline-block; margin: 0 7.74%; padding: 0;}

.principal li a:hover {
  text-shadow:-3px -2px 6px rgba(239, 291, 47, 0.5), 3px -2px 6px rgba(239, 291, 47, 0.5), 3px 2px 6px rgba(239, 291, 47, 0.5), -1px 2px 6px rgba(239, 291, 47, 0.5);  
  -o-text-shadow:-3px -2px 6px rgba(239, 291, 47, 0.5), 3px -2px 6px rgba(239, 291, 47, 0.5), 3px 2px 6px rgba(239, 291, 47, 0.5), -1px 2px 6px rgba(239, 291, 47, 0.5);  
  -ms-text-shadow:-3px -2px 6px rgba(239, 291, 47, 0.5), 3px -2px 6px rgba(239, 291, 47, 0.5), 3px 2px 6px rgba(239, 291, 47, 0.5), -1px 2px 6px rgba(239, 291, 47, 0.5);  
  -moz-text-shadow:-3px -2px 6px rgba(239, 291, 47, 0.5), 3px -2px 6px rgba(239, 291, 47, 0.5), 3px 2px 6px rgba(239, 291, 47, 0.5), -1px 2px 6px rgba(239, 291, 47, 0.5);  
  -webkit-text-shadow:-3px -2px 6px rgba(239, 291, 47, 0.5), 3px -2px 6px rgba(239, 291, 47, 0.5), 3px 2px 6px rgba(239, 291, 47, 0.5), -1px 2px 6px rgba(239, 291, 47, 0.5);
}
a #logo {
  background-image: url(../img/sprite-logo.png);
  display: inline-block;
  height: 184px;
  text-indent: -9999px;
  position: absolute;
  top: -92px;
  width: 268px;
  animation: play 2s steps(2) infinite;
  -o-animation: play 2s steps(2) infinite;
  -ms-animation: play 2s steps(2) infinite;
  -moz-animation: play 2s steps(2) infinite;
  -webkit-animation: play 2s steps(2) infinite;
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -536px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -536px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -536px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -536px; }
}


@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -536px; }
}


a:hover #logo {background: url(../img/sprite-logo.png) right top no-repeat;}

/*========== Icons ==========*/
.icon {
  background-repeat: no-repeat;
  display: inline-block;
}

.icon.icon-login{ background-image: url(../img/icon-login.png); width: 14px; height: 12px;}

/* ==========================================================================
   Media Queries
========================================================================== */

/* =Media query for 960 Screens - sets nested grids to 100%
-------------------------------------------------------------- */

@media only screen and (max-width: 960px) {
  .row .row .c1,
  .row .row .c2,
  .row .row .c3,
  .row .row .c4,
  .row .row .c4-5,
  .row .row .c5,
  .row .row .c6,
  .row .row .c7,
  .row .row .c8,
  .row .row .c9,
  .row .row .c10,
  .row .row .c11,
  .row .row .c12 {
    width: 100%;
    margin-bottom: 20px;
  }
  .row .row > div:last-child {
    margin-bottom: 0 !important;
  }
  body {
    background: red;
  }
}

/* =Media query for iPad and tablets
-------------------------------------------------------------- */

@media handheld, only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    font-size: 90%;
  }
  .row {
    margin-bottom: 0 !important;
  }
  .c1,
  .c2,
  .c3,
  .c4,
  .c4-5,
  .c5,
  .c6,
  .c7,
  .c8,
  .c9,
  .c10,
  .c11,
  .c12 {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

/* =Media query for phones
-------------------------------------------------------------- */

@media handheld, only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
  body {
    background: tomato;
    font-size: 85%;
  }
  .row {
    margin-bottom: 0 !important;
  }
  .c1,
  .c2,
  .c3,
  .c4,
  .c4-5,
  .c5,
  .c6,
  .c7,
  .c8,
  .c9,
  .c10,
  .c11,
  .c12 {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

/* =Media query for phones
-------------------------------------------------------------- */

@media handheld, only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  body {
    background: blue;
    font-size: 85%;
  }
  .row {
    margin-bottom: 0 !important;
  }
  .c1,
  .c2,
  .c3,
  .c4,
  .c5,
  .c6,
  .c7,
  .c8,
  .c9,
  .c10,
  .c11,
  .c12 {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

/* =Media query for prints
-------------------------------------------------------------- */

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  
}
/* ==========================================================================
   $Helper classes
========================================================================== */

.left {float: left;}
.no-pad {padding: 0;}
.no-margin {margin: 0;}
.none {display: none;}
.off {opacity: 0;}
.on {opacity: 1;}
.right {float: right;}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.invisible {
  visibility: hidden;
}
.fix:before,
.fix:after {
  content: " ";
  display: table;
}
.fix:after {
  clear: both;
}
.fix {
  *zoom: 1;
}
/* ==========================================================================
   $Print styles
========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}